services:
  caddy:
    networks:
      - pi
    container_name: caddy
    image: caddy:latest
    ports:
      - 80:80
      - 443:443
    restart: unless-stopped
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - ./srv:/srv
networks:
  pi:
    external: true
